SECRET_KEY=

DEBUG=True

ALLOWED_HOSTS=127.0.0.1

# DB Connection

DB_ENGINE=django.db.backends.sqlite3
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=


# Email Settings

EMAIL_BACKEND =
EMAIL_HOST =
EMAIL_PORT =
EMAIL_USE_TLS =
EMAIL_HOST_USER =
EMAIL_HOST_PASSWORD =


# Time Zone

TIME_ZONE=UTC

